/* Weather Container */
.Weather {
  font-family: Arial, sans-serif;
  border: 1px solid #dadde1;
  background: linear-gradient(180deg, #ee857b 0%, #e9c4bc 100%);
  padding: 40px;
  border-radius: 30px;
  color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Weather Heading */
.Weather h1 {
  font-size: 46px;
  font-weight: 300;
  margin: 20px 0 0 0;
  line-height: 1.5em;
}

/* Form Control */
.form-control {
  border-radius: 21px;
  background: rgba(255, 255, 255, 0.4);
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
}

/* Primary Button */
.btn-primary {
  border-radius: 21px;
  padding: 10px 10px;
  background-color: white;
  color: black;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn-primary:hover {
  background-color: #776565;
}

/* Weather Details */
.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 20px;
  padding-top: 10px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

/* Weather Details Card */
.details {
  padding: 10px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 32px;
  width: 180px;
}

.wind {
  margin-bottom: 20px;
}

/* Weather Temperature */
.WeatherTemperature,
.WeatherTemperature a,
.Weather .temperature,
.Weather .unit {
  color: white;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 64px;
  line-height: 64px;
  margin-left: 10px;
}

/* Weather Canvas */
.Weather canvas {
  margin: 10px auto;
}

/* Weather Unit */
.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
